/* * {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
header {
  background: linear-gradient(30deg, red, rgb(0, 0, 0));
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
}

header h1 {
  font-size: 50px;
}
header p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  list-style-type: none;
}
header nav ul li:first-child {
  background-color: #f2f2f281;
  height: 10px;
  border-left: 5px solid white;
  position: absolute;
  width: 80%;
  border-radius: 6px;
}
header nav ul li {
  width: 100%;
  padding: 10px 0px 20px 20px;
}
header i {
  padding-right: 10px;
  font-size: 20px;
}
header nav a {
  color: white;
  text-decoration: none;
}
.search {
  padding-bottom: 50px;
}
.sec-inp {
  background-color: #f2f2f2;
  width: 100%;
}
.inp-bg {
  padding-left: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp-bg i {
  font-size: 25px;
  color: red;
  position: absolute;
  left: 34%;
}
.inp-bg img {
  position: absolute;
  right: 29%;
}
.inp-bg input::placeholder {
  padding-left: 50px;
  font-size: 25px;
}
.inp-bg input {
  border-radius: 20px;
  box-shadow: 1px 0.5px 5px 0.5px;
  padding: 10px;
  height: 40px;
  width: 600px;
  border: none;
  outline: none;
}
.sec-inp img {
  width: 70px;
} */
* {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
}
.container {
  margin-left: 300px;
}

.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container {
  background: linear-gradient(black, brown);
  color: white;
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  margin: -30px;
}

.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav ul {
  list-style-type: none;
}
.container nav ul {
  .container {
    background: linear-gradient(black, brown);
    color: white;
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 100%;
    padding: 10px 20px;
    margin: -30px;
  }

  .container h1 {
    font-size: 50px;
  }
  .container p {
    font-size: 12px;
    padding-left: 40px;
    padding-bottom: 20px;
  }

  .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container nav ul {
    list-style-type: none;
  }
  /* background-color: #f2f2f281; */
  height: 10px;
  position: absolute;
  width: 85%;
  border-radius: 6px;
}
.container nav ul li {
  width: 100%;
  padding: 5px 0px 20px 20px;
}
.container i {
  padding-right: 10px;
  font-size: 20px;
}
.container nav a {
  color: white;
  text-decoration: none;
}
.right-container {
  background-color: #f2f2f2;
  margin: 0px;
}
#logo {
  height: 100px;
  width: 125px;

  margin: 20px;
  margin-bottom: -30px;
}
.right-container .search-input {
  background-color: white;
  height: 2px;
}
.search-container {
  margin-top: 30px;
  margin-left: 240px;
  width: 90%;
  padding: 20px;
  border: none;
  justify-content: space-between;

  position: relative;
}
.search-container > i {
  font-size: 24px;

  color: brown;
  margin-left: 100px;
  position: absolute;
  transform: translateY(-160%);
  left: 10px;
}
.search-container > input {
  width: 90px;
  display: flex;
  background-color: white;
  position: fixed;
}
.searchbar {
  width: 90%;
  font-size: 20px;
  display: flex;
  position: fixed;
}
#search-icon {
  font-size: 20px;
  color: brown;
}

.search-input {
  border: none;
  font-size: 60px;

  outline: none;
  flex: 1;
  margin-left: 300px;
  border-radius: 14px;
  width: 60%;
  font-size: 18px;
  background-color: white;

  height: 25px;
  box-shadow: 3px 2px 2px;
  padding: 33px;
  background: url("images/hiremi_logo.png") no-repeat 900px center; /* Path to your image */
  background-size: 120px 80px; /* Adjust size as needed */
}
.container2 input[type="search"] {
  padding-left: 120px;
  background-color: white;
  font-size: 42px;

  font-family: "Radio Canada Big", sans-serif;
}
.container2 input[placeholder="Search"] {
  color: grey;
  font-size: 30px;
}
.list1 {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
}
.list1 .list-type {
  margin-left: 16.8%;
  margin-right: 15%;
  width: fit-content;

  background-color: white;
  border-radius: 15px;
}
.list-type {
  border-spacing: 50px;
}
th {
  font-size: 18px;
}
table {
  width: 100%;
  height: 100%;
}
table {
  font-size: 5px;
}
td {
  padding: 20px 15px;
  font-size: 12px;
}
table {
  padding: 10px;
}
th:nth-child(12) {
  text-align: center;
}
th:last-child {
  text-align: center;
}
th {
  padding: 20px 10px;
  text-align: start;
}
table,
th {
  text-align: start;
  border-spacing: 0;
  border-bottom: 2px solid gray;
}
table,
td {
  font-weight: 600;
  text-align: start;
  border-bottom: 2px solid lightgray;
}
table,
tbody {
  text-align: center;
}
span {
  display: inline-block;
  transform: rotate(90deg);
}
table {
  border: none;
}
.ver1 {
  border-radius: 20px;
  padding: 5px 20px;
  color: green;
  border: 1px solid green;
}
.ver2 {
  border-radius: 20px;
  padding: 5px 20px;
  color: rgb(255, 166, 0);
  border: 1px solid rgb(255, 166, 0);
}
.ver3 {
  border-radius: 15px;
  padding: 4px 10px;
  color: red;
  border: 1px solid red;
}
.view {
  background: linear-gradient(30deg, red, rgb(0, 0, 0));
  color: white;
  border-radius: 20px;

  padding: 5px 15px;
}
.view a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  .search {
    background-color: #f2f2f2;
    height: fit-content;
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 50px;
  }
  .inp-bg {
    padding-left: 400px;
    padding-top: 20px;
    width: 120%;
    display: flex;
  }
  .sec-inp {
    width: 100%;
  }
  .inp-bg i {
    font-size: 25px;
    color: red;
    position: absolute;
    left: 98%;
  }
  .inp-bg img {
    position: absolute;
    right: -100%;
  }
  .inp-bg input::placeholder {
    padding-left: 50px;
    font-size: 25px;
  }
  .inp-bg input {
    border-radius: 20px;
    box-shadow: 1px 0.5px 5px 0.5px;
    padding: 10px;
    height: 40px;
    width: 600px;
    border: none;
    outline: none;
  }
  .sec-inp img {
    width: 70px;
  }
  .list1 .list-type {
    margin-left: 50%;
    margin-right: 50%;
    width: fit-content;
    height: 160vh;
    background-color: white;
    border-radius: 10px;
  }
  th {
    font-size: 25px;
  }
  table {
    width: 100%;
    height: 100%;
  }
  table {
    font-size: 5px;
  }
  td {
    padding: 20px 15px;
    font-size: 12px;
  }
  table {
    padding: 10px;
  }
  th:nth-child(12) {
    text-align: center;
  }
  th:last-child {
    text-align: center;
  }
  th {
    padding: 20px 10px;
    text-align: start;
  }
  table,
  th {
    text-align: start;
    border-spacing: 0;
    border-bottom: 2px solid gray;
  }
  table,
  td {
    text-align: start;
    border-bottom: 2px solid lightgray;
  }
  table,
  tbody {
    text-align: center;
  }
  span {
    display: inline-block;
    transform: rotate(90deg);
  }
  table {
    border: none;
  }
  .ver1 {
    border-radius: 20px;
    padding: 5px 20px;
    color: green;
    border: 1px solid green;
  }
  .ver2 {
    border-radius: 20px;
    padding: 5px 20px;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
  }
  .ver3 {
    border-radius: 15px;
    padding: 4px 10px;
    color: red;
    border: 1px solid red;
  }
  .view {
    background: linear-gradient(30deg, red, rgb(0, 0, 0));
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
  }
}
